.blocks-add-btn {

    /* reset  */
    box-sizing: content-box;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    user-select: none;
    outline: none;

    /* style */
    background: rgba(0,0,0,.1);
    cursor:pointer;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 11px;
}
.blocks-add-btn:not(:first-child){
    margin-left: 10px;
}
.blocks-add-btn:hover {
    background: rgba(0,0,0,.2);
}
.blocks-add-btn:active {
    background: rgba(0,0,0,.3);
}
